<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movielens Recommender</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src="./app.js"></script>
    <script src="./controllers/mainController.js"></script>
    <script src="./controllers/userInfoController.js"></script>
    <script src="./controllers/configController.js"></script>
    <script src="./custService.js"></script>
    <script src="./controllers/recommenderController.js"></script>
    <script src="./controllers/perfilController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body ng-controller="mainController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Yelp Recommender</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </nav>
    <!--Agrega lo del ngmodel al scope-->

    <div class="container" ng-controller="userInfoController">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="row">
                    <p class="col-md-6">Seleccione la ciudad</p>
                </div>
                <div class="row">
                    <p class="col-md-6">Seleccione el usuario activo</p>
                </div>
                <div class="row form-group">
                    <select class="col-md-4 form-control" name="singleSelect" id="singleSelect" ng-model="selectedUser" ng-change="saveUserinfo()">
                        <option value="">--Please select an user--</option>
                        <option ng-repeat="user in users" value="{{user.id}}">{{user.id}} - Tiene {{user.ratings}} Ratings</option>
                    </select>
                    <hr>
                </div>
                <hr>
                <div class="row">
                    <p class="col-md-6">Seleccione cantidad de recomendaciones</p>
                </div>
                <div class="row form-group">
                    <select class="col-md-4 form-control" name="singleSelect" id="singleSelect" ng-model="selectedCant" ng-change="saveCantinfo()">
                        <option value="">--Selecciones la cantidad--</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                    <hr>
                </div>
            </div>

            <div class="col-md-5" ng-controller="configController">
                <div class="row">
                    <p class="col-md-6">Configure el recomendador</p>
                </div>
                <div class="row">
                    <div id="slidecontainer" class="col-md-6">
                        Filtrado colaborativo:
                        <input type="range" min="0" max="100" value="100" class="slider" id="svdW" ng-model="sgd">
                        <p>Value:
                            <span id="svdVal"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div id="slidecontainer" class="col-md-6">
                        Filtrado por contenido:
                        <input type="range" min="0" max="100" value="0" class="slider" id="contW" ng-model="cont">
                        <p>Value:
                            <span id="contVal"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div id="slidecontainer" class="col-md-6">
                        Filtrado por texto:
                        <input type="range" min="0" max="100" value="0" class="slider" id="textW" ng-model="onth">
                        <p>Value:
                            <span id="textVal"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-default col-md-12" ng-click="saveConfig()">Corrrer Fecha</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-controller="recommenderController">
        <div class="row" ng-hide="search">
            <button class="col-sm-12 btn btn-primary" ng-click="get()">Pedir recomendación</button>
        </div>
        <div class="row" ng-show="search">
            <div class="col-md-12" ng-repeat="recomendation in recomendaciones">
                <div class="row">
                    Recomendaciones para {{recomendation.month}}/{{recomendation.year}}
                </div>
                <div class="row">
                    <table class="table table-bordered table-hover col-md-4">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Nombre</td>
                                <td>Director</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pelicula in recomendation.reco">
                                <td>{{pelicula.movieId}}</td>
                                <td>{{pelicula.title}}</td>
                                <td>{{pelicula.director}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" ng-show="$index === (recomendaciones.length-1) ">
                    <div ng-if="recomendation.year===2017 && recomendation.month === 8">
                        No hay más datos disponibles
                    </div>
                    <button class="col-sm-12 btn btn-primary" ng-click="get()">Pedir recomendación</button>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <div class="row">
            <p id="copy">© 2017 Jairo Bautista Mora, Anamaria Mojica Hanke, Fabia Peña Lozano</p>
        </div>
    </footer>
    <script src="./script.js"></script>
</body>

</html>